/*
.common-home{
    background:url('../images/wallpaper.jpg'); 
    background-repeat: no-repeat;    
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
}
*/

@font-face {
	font-family: "OpenSans-Regular"; 
	src: url('../fonts/OpenSans-Regular.ttf');  
}

@font-face{
	font-family: "OpenSans-Bold";
	src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face{
	font-family: "OpenSans-Semibold";
	src: url('../fonts/OpenSans-Semibold.ttf');
}

@font-face{
	font-family: "Myriad Pro Regular";
	src: url('../fonts/Myriad Pro Regular.ttf');
}

html,body{
	height: 100%;
}


.list-group-item{
	border:none !important;
}



.row-abc{
	background-color: red;
}

a.danhmuc{
	color: #737272;
}

i.fa-caret-right{
	margin-top: 15px;
}

.owl-carousel-cus .owl-theme .owl-nav{
	position: relative;
	bottom: 300px;
}

.owl-carousel-cus .owl-theme .owl-nav .owl-prev{
	position: relative;
	right: 40%;
	background-color: transparent;
	color: white;
	font-size: 40px;
	padding: 20px 0px 20px 0px;
}

.owl-carousel-cus .owl-theme .owl-nav .owl-next{
	position: relative;
	left: 40%;
	background-color: transparent;
	color: white;
	font-size: 40px;
	padding: 20px 0px 20px 0px;
}

.owl-carousel-cus{
	border-radius: 0px;
	height: 100%;
	margin-bottom: -125px;
}

.owl-carousel .owl-theme .owl-loaded .owl-drag{
	height: 50px;
}

.owl-carousel-cus .owl-theme .owl-nav .owl-prev:hover{
	background-color: transparent;
}

.owl-carousel-cus .owl-theme .owl-nav .owl-next:hover{
	background-color: transparent;
}

.box-time{
	border-style: solid;
	border-color: #dadada;
	border-radius: 0px;
	border-width: 1px;

}

.abc{
	margin-top: 20px;
	
}

.abcde{
	margin-top: 20px;
	margin-left: -20px;
}

.arrow-right{
	width: 0; 
  	height: 0; 
  	border-top: 21px solid transparent;
  	border-bottom: 20px solid transparent; 
  	border-left: 20px solid #ea3a3c;
}

.thumbnail{
	width: 120%;
	margin-left: 7px;
	margin-top: 20px;
	position: relative;
	padding: 0px !important;
	border-radius: 0px !important;
}

.photo{
	width: 120%;
	margin-left: 42px;
}

.photo-1{
	width: 120%;
	margin-left: 77px;
}

.photo-2{
	width: 120%;
	margin-left: 112px;
}

.photo-3{
	width: 120%;
	margin-left: 147px;
}


i.liked{
	position: absolute;
    background: #ff5722;
    color: white;
    padding: 3px;
}

.text-info{
	color: white !important;
	font-family: 'OpenSans-Regular', sans-serif;

}

.menu-header{
	background-color: #eeeeee;
	font-family: 'OpenSans-Regular', sans-serif;
	padding: 7px 0px 0px 7px;
}

.menu-social{
	color: #6b6b6b;
	font-size: 20px !important;
}

.menu-social-footer{
	color: white;
	font-size: 20px !important;
	margin-right: 5px;
}

a:hover{
	background-color: #eeeeee !important;
	color: #0b3590 !important;
}

.menu-main-active{
	font-family: 'OpenSans-Regular', sans-serif;
	font-size: 17px; 
	padding: 22px !important;
	background-color: #eeeeee !important;
	color: #0b3590 !important;	
}

.menu-main{
	font-family: 'OpenSans-Regular', sans-serif;
	font-size: 17px; 
	padding: 22px !important;
	color: white !important;
}

.navbar-inverse{
	border-radius: 0px !important;
	border-color: #eeeeee !important;
	background-color: #0b3590 !important;
}

.container{
	padding-left: 0px;
	padding-right: 0px;
}

.navbar-inverse .navbar-form{
	padding-top: 5px;
}

.header-button{
	margin-left: -6px;
	border-radius: 0px 5px 5px 0px !important;
	background-color: #da251c !important;
	color: white !important;
	border-color: #da251c !important;
}

.arrow-danhmuc{
	color: #b8b8b8 ;
}

h4.box-header{
	color: #ea3a3c;
	font-size: 9pt;
}

h4.box-details{
	color: #737272;
	font-size: 9pt;
}

button.send{
	background-color: #ea3a3c;
	color: white;
	border-style: none;
	border-radius: 0px 4px 4px 0px;
}

h4.office{
	font-size: 15pt;
	font-family: 'OpenSans-Semibold', sans-serif;
}

h6.adress{
	font-size: 10pt;
	font-size: 'OpenSans-Semibold', sans-serif;
}

h5.name-font{
	font-size: 10pt;
	font-family: Arial, sans-serif;
}

h5.description-font{
	font-size: 10pt;
	font-family: Arial, sans-serif;
	color: #ea3a3c;
}

h5.name-font-1{
	font-size: 10pt;
	font-family: Arial, sans-serif;
	color: transparent;
}

img.img-item{
	width: 100%;
}

.list-group{
	margin-bottom: 0px !important;
	border-radius: 0px !important;
}

.product{
	border-style: solid; 
	border-radius: 0px; 
	border-width: 1px; 
	border-color: #dadada;
}

.special-product{
	border-radius: 0px; 
	border-top-style: none; 
	border-left-style: none; 
	border-right-style: none; 
	border-bottom-style: solid; 
	border-width: 3px; 
	border-color: #ea3a3c;
}

.head{
	background-color: #ea3a3c; 
	padding: 11px 0px 11px 15px; 
	margin-left: -15px; 
	color: white;
}

.hot-product{
	border-style: solid; 
	border-radius: 0px; 
	border-width: 1px; 
	border-color: #dadada; 
	margin-top: 30px;
}

.box-hot-product{
	border-radius: 0px; 
	border-top-style: none; 
	border-left-style: none; 
	border-right-style: none; 
	border-bottom-style: solid; 
	border-width: 3px; 
	border-color: #ea3a3c;
}

.head-1{
	background-color: #ea3a3c; 
	padding: 11px; 
	margin-left: -15px; 
	color: white;
}

.bottom-page{
	margin-left: -15px; 
	margin-right: -15px;
}

.send-mail{
	background-color: #1447b6; 
	margin-left: -15px; 
	margin-right: -15px;
}

.center-box{
	background-color: #1447b6; 
	padding: 25px;
}

p.text-sendmail{
	font-size: 20px; 
	color: white;
}

form.textbox{
	margin-top: 12px;
}

input.text-area{
	padding-right: 80px;
}

.contact-box{
	background-color: #0b3590; 
	margin-left: -15px; 
	margin-right: -15px;
}

.contact-area{
	padding: 40px 0px 20px 0px;
}

.footer-box{
	background-color: #0b3590; 
	color: white; 
	border-top-style: dashed; 
	border-right-style: none; 
	border-left-style: none; 
	border-bottom-style: none; 
	border-color: white; 
	border-width: 1px;
}

.footer-detail{
	padding: 20px 0px 20px 0px;
}